 .video-background {
    width: 1549.330px;
    height: 608px;
    position: relative;
    overflow: hidden;
    
}

#bgvid {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(10, 68, 130); 
    z-index: 1; 
    opacity: 0.8; 
}

/***********************************/

.services{
    padding: 140px 0px;
  }

  .services-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-auto-rows: 286px; */
    gap: 20px;
    text-align: center;
  }

  .services-item img{
  width: 80px;
  }

  .services-item a{
    padding: 40px;
    display: inline-block;
  }

.services-item h2{
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    margin-top: 20px;
    color: #28333e;
    min-height: 56px;
}

.services-item p{
    margin-top: 20px;
}
.services-item:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,.08);
}